---
import LegalLayout from '../layouts/LegalLayout.astro';
import { personalInfo } from '../utils/constants';
---

<LegalLayout title="Imprint">
  <h1>Imprint</h1>
  
  <h2>Information according to ยง 5 TMG</h2>
  <p>
    {personalInfo.name.full}<br />
    {personalInfo.address.street} {personalInfo.address.number}<br />
    {personalInfo.address.zip} {personalInfo.address.city}<br />
    {personalInfo.address.country}
  </p>

  <h2>Contact</h2>
  <p>
    Email: {personalInfo.contact.email}<br />
    Phone: {personalInfo.contact.phone}
  </p>
  <!-- Rest of the content -->
</LegalLayout>