---
import LegalLayout from '../layouts/LegalLayout.astro';
import { personalInfo } from '../utils/constants';
---

<LegalLayout title="Impressum">
  <h1>Impressum</h1>
  
  <h2>Angaben gemäß § 5 TMG</h2>
  <p>
    {personalInfo.name.full}<br />
    {personalInfo.address.street} {personalInfo.address.number}<br />
    {personalInfo.address.zip} {personalInfo.address.city}<br />
    {personalInfo.address.country}
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: {personalInfo.contact.email}<br />
    Telefon: {personalInfo.contact.phone}
  </p>
  <!-- Rest of the content -->
</LegalLayout>